/*
Trivia 2.css
Jeff Gunter 2017
*/

:root {
  /* green #52c609 */
  --main-bg-color: purple;
  --main-font-color: #222;
}

/* UNIVERSAL ELEMENTS */

html {
  position: relative;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 24px;
  color: #222;
  background-image: url('../img/swirl_pattern.png');
  background-attachment: fixed;
  margin: 0px;
  padding: 0px;
}

a {
  color: var(--main-bg-color);
  text-decoration: none;
}

.no-bullet-list {
  list-style-type: none;
}

.no-bullet-hlist {
  list-style-type: none;
  overflow: hidden;
}

.no-bullet-hlist li {
  display: inline;
  float: left;
  white-space: nowrap;
}

/* HEADER/FOOTER */

.running {
}

.running ul {
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

.running li {
}

.running a {
  color: var(--main-font-color);
}

#header {
  left: 0;
  top: 0;
  margin-top: -25px;
  position: absolute;
  width: 100%;
  font-weight: bold;
}

#footer {
  bottom: 0;
  left: 0;
  margin-bottom: -25px;
  position: absolute;
  width: 100%
}

/* CONTENT */

.content {
}

.page-title {
  background-color: #fff;
  color: var(--main-font-color);
  font-weight: bold;
}

.page-title h1 {
  font-size: 42px;
}

.question {
  font-family: 'Muli', sans-serif;
  font-size: 24;
}

.game-list-item {
  background-color: #fff;
}

.game-list-item h1 {
  font-size: 30px;
}

.gamelist {
  font-size: large;
}

.h-list {
  list-style-type: none;
  overflow: hidden;
}

.h-list li {
  display: inline;
  list-style-type: none;
  float: left;
}

/* Team-Score form */

ul.teamrow {
}

ul.teamrow li {
  float: left;
}

ul.teamrow li.teamname {
  width: 40%;
}

ul.teamrow li.roundscore {
  width: 10%;
}

ul.teamrow li.teamtotal {
  width: 10%;
}
