{% load staticfiles %}
<html>
    <head>
      <title>Jeffrey Gunter</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'Blog/css/blog.css' %}">
    </head>
    <body>

      <nav>
        <ul class="desktop-menu">
          <li><a id="home-btn" href="{% url 'post_list' %}">HOME</a></li>
          <li><a id="about-btn" href="{% url 'about' %}">ABOUT</a></li>
          <li><a id="contact-btn" href="{% url 'contact' %}">CONTACT</a></li>
          <li><a id="archive-btn" href="{% url 'archive' %}">ARCHIVE</a></li>
          <li><a id="projects-btn" href="{% url 'project_list' %}">PROJECTS</a></li>
        </ul>
        <ul class="menu-label">
          {% if user.is_authenticated %}

            <li><a href="{% url 'logout' %}">Welcome back {{ user.username }} (click to log out)</a></li>
          {% else %}
            <li><a class="menu-label" href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </nav>


      <div class="banner"><h1 class="page-title" style="color:{{ color }};">{{ title }}</h1></div>

      <div class="content">
        {% block content %}
        {% endblock %}
      </div>

      <!--><article><!-->

      <!--><div class="accent"></div><!-->
      <div class="page-footer" style="color:{{ color }};">
        <p>Website by: <a href="http://jeffreygunter.com">Jeff Gunter</a> 2017</p>
      </div>
      <!--></article><!-->

    </body>
</html>
