{% extends 'blog/base.html' %}

{% block content %}
<div>
  <p></p>
  <p>
    I am a software developer based in Southern Colorado. I picked up coding while studying math and physics in college, and I've been doing it professionally since 2014. At work I build .NET applications aimed at scientific data capture and analysis. Away from work I spend my time home-brewing, tinkering with classic motorcycles, and playing with python, django, and open-source projects. I also host trivia night at a local pub with my fiancé Melinda.
  </p>
  <p>
    If you or your business need help with data capture, analytics, web design, or data storage  (or if you just want to talk about coding, brewing beer, or motorcycles), please contact me.
  </p>
  <p>
    And if you're in southern Colorado on a Thursday night, stop by the Downtown Bar in Pueblo for the best pub trivia in town.
  </p>
</div>
{% endblock %}
